[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=a_a_alinichenko_otus
WorkingDirectory=/home/a_a_alinichenko_otus/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target

